
.header{
    background-color:#545454;
    padding:0px;
    margin:0px;
    width: auto;
    height: 100px;
 }
 .header1{
     color:#fff;
     padding:20px 20px 10px 40px;
 }

.phone{
    width:50px;
    height:50px;
    padding-right: 10px;
}

.logo{
    margin-left:620px;
}

 .ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;
}

 .li{
     float:left;
    
 }
 

.li a {
    display: block;

    padding:30px 40px;

    background-color:aquamarine;

    color:#fff;
}
ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color:#fff;;
}

li {
    float: left;
}

li a {
    display: block;

    color:#D9AF62;

    text-align: center;

    padding:25px 25px;

    text-decoration: none;

    font-size:20px;
}

li a:hover:not(.active) {

    background-color:#c0c0c0; 
    text-decoration: none;
     color:#f7dbb5;


  
}
.active {

    background-color: #f39c12;
}
.input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius:10px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
 .main-nav {
    border-bottom: 45px solid #eee;
	height: auto !important;
	margin:0 25px 0  25px;
 }
  .paragraf1{
	  text-align: center;
	  font-size:17px;
  }
  .paragraf1 a{
	  color:black;
  }

  .list-options .container {
    max-width: 100%;
}
	
 .container{
     width:1220px;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }
 
  .list-options{
    margin-bottom: 50px;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-width: 1600px;
    margin: -1px auto 30px;
	
}
.list-options container {
	
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.order-by label {
    float: left;
    font-size: 15px;
    font-weight: normal;
    color: #333;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}
.label {
    display: inline-block;
	max-width: 100%;
}
.order-by .form-control {
    float: left;
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: #666;
    padding: 0 20px;
    border: 0;
    border-radius: 0;
}
.order-by {
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}
.c4{
    padding-top:25px;
    padding-left:80px; 
    padding-right:60px;
    font-size: 20px;
    color: #545454;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
}
.price{
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    background-color: #d7b56d;
    margin: 14px auto;
}
footer{
    width:100%;
    height:500px;
    background-color:#ccc;
    position: relative;
}
footer div#footerContainer{
    width:1200px;
    position: relative;
    margin:auto;

}
footer div#footerContainer div.footerBox{
    width:400px;
    position: relative;
    float:left;
    text-align:center;
}

footer div#footerContainer div.footerBox h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
     margin-top:35px;
   
       

}

footer div#footerContainer div.footerBox h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:28px;
    text-align:left;

}
footer div#footerContainer div.footerBox h2{
       font-size:30px;
       line-height:60px;
       border-bottom:2 px solid #333;
       text-align:left;
       font-family:Georgia, 'Times New Roman', Times, serif;
   
      
}
footer div#footerContainer div.footerBox p{
    text-align: left;
    line-height:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

footer div#footerContainer div.footerBox input{
    width:350px;
    height:40px;
}
.c1{
    padding-top:25px;
    padding-left:10px;
    padding-right:10px;
    
}
#test{
background-image: url("img/bulbulyuvasi.jpg");
}
#test:hover{
    background-image: url("img/bulbulyuvasi1.jpg");
}


